@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-600;
  font-family: 'Lato', sans-serif;
}

h2 {
  @apply text-2xl md:text-4xl;
}
